<section class="project-profile" id="project-profile_id">

  <div class="project-profile__wrapper-content">
    <div class="project-profile__header-wrapper">
      <h1 class="project-profile__header-h1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ipsum placerat
        nibh a.
      </h1>
    </div>

    <div class="project-profile__wrapper-info">
      <div class="project-profile__key-info">
        <div class="project-profile__keywords-wrapper">
          <ul class="project-profile__project-keys-ul">
            <li class="project-profile__project-keys-li">
              <a href="">Machine Learning</a>
            </li>
            <li class="project-profile__project-keys-li">
              <a href="">Cybersecurity</a>
            </li>
          </ul>
        </div>

        <div class="project-profile__creation-date-wrapper">
          <span class="project-profile__creation-date-span">
            29 Oct 2024, by Biden Obama
          </span>
        </div>
      </div>

      <div class="project-profile__description">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lectus
          amet, eu lacus viverra magna ullamcorper ultricies. Laoreet est
          molestie tellus, volutpat, vitae. Viverra vitae nunc molestie nec. Id
          orci tincidunt amet ullamcorper morbi mauris augue. Faucibus ornare
          tincidunt malesuada phasellus. Volutpat, est id tincidunt dolor eu.
          Enim dictum aenean ultrices pharetra lorem leo cursus. Mollis dui
          turpis sed suscipit. Mauris vestibulum in phasellus velit morbi
          lobortis varius egestas posuere. Commodo purus non adipiscing
          porttitor lectus nunc, nisi. Urna amet, nisl, lectus vel. Aliquam,
          porttitor quis at vel sed ut montes, egestas. Nisl, vestibulum tempor
          natoque lacinia posuere. Risus id tempor turpis faucibus ante volutpat
          nunc. Viverra iaculis iaculis at convallis tellus. Condimentum massa
          faucibus at porttitor vestibulum in. Aliquam viverra tempor sodales
          proin penatibus elit ut sem. Volutpat, purus eget diam et, donec quis
          lectus magna elementum. Consequat, nunc, varius venenatis proin diam
          nullam cras. Et ut condimentum dui eu. Vestibulum fermentum vitae
          mauris quis. Odio eu velit tortor pulvinar eget nec. Non orci, sodales
          consequat
        </p>
      </div>

      <div class="project-profile__img-wrapper">
        <img
          class="project-profile__img"
          src="assets/statue-glitch_2_4x.jpg"
          alt=""
        />
      </div>

      <div class="project-profile__looking-for">
        <span class="project-profile__looking-for-header">
          Who we are looking for:
        </span>
        <ul>
          <li>PhD in Cybersecurity</li>
          <li>PhD in Computational Science</li>
          <li>MD in Sociology</li>
        </ul>
      </div>

      <div class="project-profile__buttons">
        <input
          class="project-profile__favorite-button"
          type="submit"
          value="Follow"
        />
        <input
          id="contact-button"
          class="project-profile__contact-button"
          type="submit"
          [value]="getCurrentButtonText()"
          (click)="toggleContactInfo()"
        />
      </div>
    </div>
  </div>
</section>

<section class="recomendations">
  <div class="recomendations__h2-div">
    <h2 class="recomendations__h2">Recommended</h2>
  </div>

  <div class="recomendations__recomendation-wrapper">
    <div class="recomendations__project">
      <div class="recomendations__project-img-div">
        <a [routerLink]="['/project-profile-page']" fragment="project-profile_id"
          ><img
            class="recomendations__project-img"
            src="assets/statue-glitch_2_4x.jpg"
            alt=""
        /></a>
      </div>

      <div class="recomendations__project-info">
        <div class="recomendations__project-h2-div">
          <a [routerLink]="['/project-profile-page']" fragment="project-profile_id"><h2 class="recomendations__project-h2">CyberGuard</h2></a>
        </div>

        <div class="recomendations__project-discription-div">
          <p class="recomendations__project-discription">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Nec commodo
            aliquet cursus iaculis tempus. Vestibulum praesent donec ligula diam
            volutpat ultricies ipsum! Quisque euismod sagittis primis tristique
            ullamcorper bibendum felis penatibus feugiat. Placerat cras praesent
            mollis.
          </p>
        </div>

        <div class="recomendations__project-tags">
          <div class="recomendations__project-keys-div">
            <ul class="recomendations__project-keys-ul">
              <li class="recomendations__project-keys-li">
                <a href="">Machine Learning</a>
              </li>
              <li class="recomendations__project-keys-li">
                <a href="">Cybersecurity</a>
              </li>
            </ul>
          </div>
          <div class="recomendations__project-read-div">
            <a [routerLink]="['/project-profile-page']" fragment="project-profile_id">Read more</a>
          </div>
        </div>
      </div>
    </div>

    <div class="recomendations__project">
      <div class="recomendations__project-img-div">
        <a [routerLink]="['/project-profile-page']" fragment="project-profile_id"
          ><img
            class="recomendations__project-img"
            src="assets/statue-glitch_2_4x.jpg"
            alt=""
        /></a>
      </div>

      <div class="recomendations__project-info">
        <div class="recomendations__project-h2-div">
          <a [routerLink]="['/project-profile-page']" fragment="project-profile_id"><h2 class="recomendations__project-h2">CyberGuard</h2></a>
        </div>

        <div class="recomendations__project-discription-div">
          <p class="recomendations__project-discription">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Nec commodo
            aliquet cursus iaculis tempus. Vestibulum praesent donec ligula diam
            volutpat ultricies ipsum! Quisque euismod sagittis primis tristique
            ullamcorper bibendum felis penatibus feugiat. Placerat cras praesent
            mollis.
          </p>
        </div>

        <div class="recomendations__project-tags">
          <div class="recomendations__project-keys-div">
            <ul class="recomendations__project-keys-ul">
              <li class="recomendations__project-keys-li">
                <a href="">Machine Learning</a>
              </li>
              <li class="recomendations__project-keys-li">
                <a href="">Cybersecurity</a>
              </li>
            </ul>
          </div>
          <div class="recomendations__project-read-div">
            <a [routerLink]="['/project-profile-page']" fragment="project-profile_id">Read more</a>
          </div>
        </div>
      </div>
    </div>

    <div class="recomendations__project">
      <div class="recomendations__project-img-div">
        <a [routerLink]="['/project-profile-page']" fragment="project-profile_id"
          ><img
            class="recomendations__project-img"
            src="assets/statue-glitch_2_4x.jpg"
            alt=""
        /></a>
      </div>

      <div class="recomendations__project-info">
        <div class="recomendations__project-h2-div">
          <a [routerLink]="['/project-profile-page']" fragment="project-profile_id"><h2 class="recomendations__project-h2">CyberGuard</h2></a>
        </div>

        <div class="recomendations__project-discription-div">
          <p class="recomendations__project-discription">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Nec commodo
            aliquet cursus iaculis tempus. Vestibulum praesent donec ligula diam
            volutpat ultricies ipsum! Quisque euismod sagittis primis tristique
            ullamcorper bibendum felis penatibus feugiat. Placerat cras praesent
            mollis.
          </p>
        </div>

        <div class="recomendations__project-tags">
          <div class="recomendations__project-keys-div">
            <ul class="recomendations__project-keys-ul">
              <li class="recomendations__project-keys-li">
                <a href="">Machine Learning</a>
              </li>
              <li class="recomendations__project-keys-li">
                <a href="">Cybersecurity</a>
              </li>
            </ul>
          </div>
          <div class="recomendations__project-read-div">
            <a [routerLink]="['/project-profile-page']" fragment="project-profile_id">Read more</a>
          </div>
        </div>
      </div>
    </div>

    <div class="recomendations__project">
      <div class="recomendations__project-img-div">
        <a [routerLink]="['/project-profile-page']" fragment="project-profile_id"
          ><img
            class="recomendations__project-img"
            src="assets/statue-glitch_2_4x.jpg"
            alt=""
        /></a>
      </div>

      <div class="recomendations__project-info">
        <div class="recomendations__project-h2-div">
          <a [routerLink]="['/project-profile-page']" fragment="project-profile_id"><h2 class="recomendations__project-h2">CyberGuard</h2></a>
        </div>

        <div class="recomendations__project-discription-div">
          <p class="recomendations__project-discription">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Nec commodo
            aliquet cursus iaculis tempus. Vestibulum praesent donec ligula diam
            volutpat ultricies ipsum! Quisque euismod sagittis primis tristique
            ullamcorper bibendum felis penatibus feugiat. Placerat cras praesent
            mollis.
          </p>
        </div>

        <div class="recomendations__project-tags">
          <div class="recomendations__project-keys-div">
            <ul class="recomendations__project-keys-ul">
              <li class="recomendations__project-keys-li">
                <a href="">Machine Learning</a>
              </li>
              <li class="recomendations__project-keys-li">
                <a href="">Cybersecurity</a>
              </li>
            </ul>
          </div>
          <div class="recomendations__project-read-div">
            <a [routerLink]="['/project-profile-page']" fragment="project-profile_id">Read more</a>
          </div>
        </div>
      </div>
    </div>

    <div class="recomendations__project">
      <div class="recomendations__project-img-div">
        <a [routerLink]="['/project-profile-page']" fragment="project-profile_id"
          ><img
            class="recomendations__project-img"
            src="assets/statue-glitch_2_4x.jpg"
            alt=""
        /></a>
      </div>

      <div class="recomendations__project-info">
        <div class="recomendations__project-h2-div">
          <a [routerLink]="['/project-profile-page']" fragment="project-profile_id"><h2 class="recomendations__project-h2">CyberGuard</h2></a>
        </div>

        <div class="recomendations__project-discription-div">
          <p class="recomendations__project-discription">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Nec commodo
            aliquet cursus iaculis tempus. Vestibulum praesent donec ligula diam
            volutpat ultricies ipsum! Quisque euismod sagittis primis tristique
            ullamcorper bibendum felis penatibus feugiat. Placerat cras praesent
            mollis.
          </p>
        </div>

        <div class="recomendations__project-tags">
          <div class="recomendations__project-keys-div">
            <ul class="recomendations__project-keys-ul">
              <li class="recomendations__project-keys-li">
                <a href="">Machine Learning</a>
              </li>
              <li class="recomendations__project-keys-li">
                <a href="">Cybersecurity</a>
              </li>
            </ul>
          </div>
          <div class="recomendations__project-read-div">
            <a [routerLink]="['/project-profile-page']" fragment="project-profile_id">Read more</a>
          </div>
        </div>
      </div>
    </div>

    <div class="recomendations__project">
      <div class="recomendations__project-img-div">
        <a [routerLink]="['/project-profile-page']" fragment="project-profile_id"
          ><img
            class="recomendations__project-img"
            src="assets/statue-glitch_2_4x.jpg"
            alt=""
        /></a>
      </div>

      <div class="recomendations__project-info">
        <div class="recomendations__project-h2-div">
          <a [routerLink]="['/project-profile-page']" fragment="project-profile_id"><h2 class="recomendations__project-h2">CyberGuard</h2></a> 
        </div>

        <div class="recomendations__project-discription-div">
          <p class="recomendations__project-discription">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Nec commodo
            aliquet cursus iaculis tempus. Vestibulum praesent donec ligula diam
            volutpat ultricies ipsum! Quisque euismod sagittis primis tristique
            ullamcorper bibendum felis penatibus feugiat. Placerat cras praesent
            mollis.
          </p>
        </div>

        <div class="recomendations__project-tags">
          <div class="recomendations__project-keys-div">
            <ul class="recomendations__project-keys-ul">
              <li class="recomendations__project-keys-li">
                <a href="">Machine Learning</a>
              </li>
              <li class="recomendations__project-keys-li">
                <a href="">Cybersecurity</a>
              </li>
            </ul>
          </div>
          <div class="recomendations__project-read-div">
            <a [routerLink]="['/project-profile-page']" fragment="project-profile_id">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
