<!DOCTYPE html>
<html>
<head>
  <title>Добавить Фильм</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
  <link rel="icon"
        type="image/ico"
        href="static/image/favicon.ico">
  <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<!-- навбар -->
<nav class="navbar navbar-expand-lg fixed-top ">
  <div class="container">
    <a class="navbar-brand custom-dark" href="/">Онлайн Кинотеатр</a>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" id="nav-toggle-button"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link custom-dark" href="/">На Главную</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-dark" href="{{ url_for('list_movies') }}">Список Фильмов</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-dark" href="{{ url_for('add_movie') }}">Добавить Фильм</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-dark" id="login-btn" href="javascript:void(0);" onclick="showLoginForm()">Админ-Панель</a>        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="py-5"></div>


<div class="main">
<h1>Добавить Фильм</h1>
<form method="POST" action="{{ url_for('add_movie') }}">
  <label for="title">Название:</label>
  <input type="text" name="title" required><br>

  <label for="genre">Жанр:</label>
  <input type="text" name="genre" required><br>

  <label for="actors">Актёрский состав:</label>
  <input type="text" name="actors" required><br>

  <label for="description">Описание:</label>
  <textarea type="text" name="description" rows="4" cols="70" required></textarea><br>

  <label for="release_year">Год выхода:</label>
  <input type="number" name="release_year" required><br>

  <label for="video_url">URL Обложки Фильма:</label>
  <input type="url" name="video_url"><br>

  <label for="rating">Рейтинг:</label>
  <input type="text" name="rating" required><br>

  <label for="stream_url">URL Видео:</label>
  <input type="text" name="stream_url" required><br>

  <input type="submit" value="Добавить">
</form>
</div>

<div class="login-form-container">

  <div id="close-login-btn" class="fas fa-times" onclick="closeLoginForm()"></div>

  <form action="/protected" method="post">
    <h3>Вход в Админ-Панель</h3>
    <span>Логин:</span>
    <input type="text" name="username" class="box" placeholder="Введите логин" id="username">
    <span>Пароль:</span>
    <input type="password" name="password" class="box" placeholder="Введите пароль" id="password">
    <input type="submit" value="Login" class="btn" onclick="checkLogin()">
  </form>

</div>

<footer class="py-3 custom-blue footer">
  <div class="container" id="footer-container">
    <p>&copy; 2023 IDev. All rights reserved.</p>
  </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
<script src="{{url_for('static', filename='js.js') }}"></script>

</body>
</html>
