<header>
  <nav>
    <a routerLink="/">{{ 'header.home' | transloco }}</a>
    <a routerLink="/scientific-interests">Scientific Interests</a>
    <a routerLink="/welcome-logo">Welcome Logo</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/background-information">Background info</a>
    <a routerLink="/header">Header</a>
    <a routerLink="/footer">Footer</a>
    <a routerLink="/personal-info-edit">Personal info edit</a>
    <a routerLink="/header-logined">Header logined</a>
    <a routerLink="/following-page">Following page</a>
    <a routerLink="/creating-project">Creating project</a>
    <a routerLink="/about-us">About us</a>
    <a routerLink="/login-and-security">Login and security</a>
    <a routerLink="/my-projects">My projects</a>
    <a routerLink="/faq">FAQ</a>
    <a routerLink="/background-information">Background info</a>
    <a routerLink="/signup">Sign Up</a>
    <a routerLink="/profile">Profile</a>
    <a routerLink="/congratulations-popup">Congratulations popup</a>
    <a routerLink="/projects-feed">Projects feed</a>
    <a routerLink="/project-profile">Project profile</a>
    <a routerLink="/profile">Profile</a>
  </nav>
</header>
