<header>
  <nav>
    <!-- Тут собранные страницы -->
    <a routerLink="/">{{ 'header.home' | transloco }}</a>
    <a routerLink="/main-page">Main page</a>
    <a routerLink="/registration-page">Registration page</a>
    <a routerLink="/login-page">Login page</a>
    <a routerLink="/scientific-interests-page">Scientific interests page</a> 
    <a routerLink="/profile-with-tabs-three">Profile with tabs 3</a>
    <a routerLink="/profile-with-tabs-two">Profile with tabs 2</a>
    <a routerLink="/safety-settings-page">Safety settings page</a>
    <a routerLink="/projects-feed-page">Projects feed page</a>
    <a routerLink="/project-profile-page">Project profile page</a>
    <a routerLink="/creating-project-topic-page">Creating project topic page</a>
    <a routerLink="/creating-project-key-info-page">Creating project key info page</a>
    <a routerLink="/creating-project-vacancies-page">Creating project vacancies page</a>
    <a routerLink="/creating-project-submit-page">Creating project submit page</a>
    <a routerLink="/faq-page">FAQ page</a>
    <a routerLink="/profile-with-tabs-one">Profile with tabs 1</a>


    <!-- Тут сами компоненты -->
    <a routerLink="/scientific-interests">Scientific Interests</a>
    <a routerLink="/welcome-logo">Welcome Logo</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/background-information">Background info</a>
    <a routerLink="/header">Header</a>
    <a routerLink="/footer">Footer</a>
    <a routerLink="/personal-info-edit">Personal info edit</a>
    <a routerLink="/header-logined">Header logined</a>
    <a routerLink="/following-page">Following page</a>
    <a routerLink="/creating-project-topic">Creating project topic</a>
    <a routerLink="/creating-project-key-info">Creating project key info</a>
    <a routerLink="/creating-project">Creating project</a>
    <a routerLink="/about-us">About us</a>
    <a routerLink="/login-and-security">Login and security</a>
    <a routerLink="/my-projects">My projects</a>
    <a routerLink="/faq">FAQ</a>
    <a routerLink="/signup">Sign Up</a>
    <a routerLink="/profile">Profile</a>
    <a routerLink="/congratulations-popup">Congratulations popup</a>
    <a routerLink="/projects-feed">Projects feed</a>
    <a routerLink="/project-profile">Project profile</a>
    <a routerLink="/profile">Profile</a>
    <a routerLink="/user-settings-looking-for">looking-for</a>
    <a routerLink="/new-project-submit">Project submit</a>
    <a routerLink="/profile-information">Profile information</a>
  </nav>
</header>
