<section class="faq">
  <h2 class="faq__title">FAQ</h2>
  <div class="faq__content">
    <div class="faq__questions">
      <div class="faq__question faq__question--active">
        <input
          type="radio"
          id="question1"
          name="faq"
          class="faq__toggle"
          checked
        />
        <label for="question1" class="faq__question-label">
          <span class="faq__icon faq__icon--minus">–</span>
          <span class="faq__icon faq__icon--plus">+</span>
          <span class="faq__question-text"
            >Posuere amet vel egestas malesuada vel odio neque.</span
          >
        </label>
      </div>
      <div class="faq__question">
        <input type="radio" id="question2" name="faq" class="faq__toggle" />
        <label for="question2" class="faq__question-label">
          <span class="faq__icon faq__icon--minus">–</span>
          <span class="faq__icon faq__icon--plus">+</span>
          <span class="faq__question-text">Cursus at est venenatis in.</span>
        </label>
      </div>
      <div class="faq__question">
        <input type="radio" id="question3" name="faq" class="faq__toggle" />
        <label for="question3" class="faq__question-label">
          <span class="faq__icon faq__icon--minus">–</span>
          <span class="faq__icon faq__icon--plus">+</span>
          <span class="faq__question-text"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span
          >
        </label>
      </div>
      <div class="faq__question">
        <input type="radio" id="question4" name="faq" class="faq__toggle" />
        <label for="question4" class="faq__question-label">
          <span class="faq__icon faq__icon--minus">–</span>
          <span class="faq__icon faq__icon--plus">+</span>
          <span class="faq__question-text">Quam nunc dolor varius.</span>
        </label>
      </div>
    </div>

    <div class="faq__answers">
      <div class="faq__answer">
        <h5 class="faq__answer-title">
          Posuere amet vel egestas malesuada vel odio neque.
        </h5>
        <p class="faq__answer-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictum arcu,
          dolor, molestie feugiat rutrum id urna quisque purus. Sit ut non urna
          auctor libero...
        </p>
      </div>
      <div class="faq__answer">
        <h5 class="faq__answer-title">Cursus at est venenatis in.</h5>
        <p class="faq__answer-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictum arcu,
          dolor, molestie feugiat rutrum id urna quisque purus. Sit ut non urna
          auctor libero...
        </p>
      </div>
      <div class="faq__answer">
        <h5 class="faq__answer-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </h5>
        <p class="faq__answer-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictum arcu,
          dolor, molestie feugiat rutrum id urna quisque purus. Sit ut non urna
          auctor libero...
        </p>
      </div>
      <div class="faq__answer">
        <h5 class="faq__answer-title">Quam nunc dolor varius.</h5>
        <p class="faq__answer-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictum arcu,
          dolor, molestie feugiat rutrum id urna quisque purus. Sit ut non urna
          auctor libero...
        </p>
      </div>
    </div>
  </div>
</section>
