<section>
  <div class="login-security">
    <div class="login-security__header">
      <h1 class="login-security__title">Login and security</h1>
    </div>

    <div class="login-security__section">
      <div class="login-security__item">
        <h2 class="login-security__subtitle">Login</h2>
        <div class="login-security__item-in">
          <div class="login-security__info">
            <h3 class="login-security__info-subtitle">Password</h3>
            <p class="login-security__info-subtext">Last updated 1 month ago</p>
          </div>
          <button class="login-security__button login-security__button-login">
            Update password
          </button>
        </div>
      </div>
    </div>
    <img
      src="../assets/i18n/divider.png"
      alt=""
      class="login-security__main-divider login-security__divider"
    />

    <div
      class="login-security__section login-security__section--device-history"
    >
      <h2 class="login-security__subtitle">Device history</h2>

      <div class="login-security__device login-security__item-in">
        <div class=".login-security__info">
          <h3 class="login-security__info-subtitle login-security__device-name">
            Session
          </h3>
          <p class="login-security__info-subtext login-security__device-time">
            May 14, 2021 at 08:36pm
          </p>
        </div>
        <button class="login-security__button login-security__button-device">
          Log out device
        </button>
      </div>
      <img src="../assets/i18n/divider.png" alt="" class="login-security__divider" />
      <div class="login-security__device login-security__item-in">
        <div class=".login-security__info">
          <h3 class="login-security__info-subtitle login-security__device-name">
            macOS Big Sur. Chrome
          </h3>
          <p class="login-security__info-subtext login-security__device-time">
            May 14, 2021 at 08:36pm
          </p>
        </div>
        <button class="login-security__button login-security__button-device">
          Log out device
        </button>
      </div>
      <img src="../assets/i18n/divider.png" alt="" class="login-security__divider" />
      <div class="login-security__device login-security__item-in">
        <div class=".login-security__info">
          <h3 class="login-security__info-subtitle login-security__device-name">
            Session
          </h3>
          <p class="login-security__info-subtext login-security__device-time">
            May 14, 2021 at 08:36pm
          </p>
        </div>
        <button class="login-security__button login-security__button-device">
          Log out device
        </button>
      </div>
    </div>
  </div>
</section>
