<section class="popup-profile-filling">
  <div class="popup-profile-filling__overlay"></div> <!-- Overlay для затемнения фона -->

  <div class="popup-profile-filling__wrapper">
    <div class="popup-profile-filling__header-div">
      <h1 class="popup-profile-filling__header-h1">
        Congratulations!
        <p>You have completed the profile filling stage</p>
      </h1>
    </div>

    <div class="popup-profile-filling__text-div">
      <span class="popup-profile-filling__text-span">
        Now you can proceed to viewing projects
      </span>
    </div>

    <div class="popup-profile-filling__button-next-div">
      <input class="popup-profile-filling__button-next-input" type="submit" value="Take me there!">
    </div>
  </div>
</section>
