<section class="welcome-logo" id="welcome-logo_id">

  <div class="welcome-logo__button-div">
    <a [routerLink]="['/main-page']" class="welcome-logo__logo-btn"></a>
  </div>

  <div class="welcome-logo__header-div">
    <h1 class="welcome-logo__header">Welcome to SynSeek!</h1>
  </div>

  <div class="welcome-logo__animation-div">
    <div class="welcome-logo__animation-scene">
      <div class="welcome-logo__cube-div">
          <div class="welcome-logo__cube-face welcome-logo__cube-front"></div>
          <div class="welcome-logo__cube-face welcome-logo__cube-back"></div>
          <div class="welcome-logo__cube-face welcome-logo__cube-left"></div>
          <div class="welcome-logo__cube-face welcome-logo__cube-right"></div>
          <div class="welcome-logo__cube-face welcome-logo__cube-top"></div>
          <div class="welcome-logo__cube-face welcome-logo__cube-bottom"></div>
      </div>
    </div>
  </div>

  <div class="welcome-logo__slogan-div">

  </div>

</section>


