<section class="projects-feed">

  <div class="projects-feed__header">

    <div class="projects-feed__header-h1-div">
      <h1 class="projects-feed__header-h1">Projects:</h1>
    </div>
    <div class="projects-feed__header-search-div">
      <input type="search" class="projects-feed__header-search" placeholder="Search for anything…">
    </div>

  </div>

  <div class="projects-feed__projects">

    <div class="projects-feed__project">
      <div class="projects-feed__project-img-div">
        <img class="projects-feed__project-img" src="assets/statue-glitch_2_4x.jpg" alt="">
      </div>

      <div class="projects-feed__project-info">

        <div class="projects-feed__project-h2-div">
          <h2 class="projects-feed__project-h2">
            CyberGuard
          </h2>
        </div>

        <div class="projects-feed__project-discription-div">
          <p class="projects-feed__project-discription">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Nec commodo aliquet  cursus iaculis tempus. Vestibulum praesent donec ligula diam volutpat  ultricies ipsum! Quisque euismod sagittis primis tristique ullamcorper  bibendum felis penatibus feugiat. Placerat cras praesent mollis.
          </p>
        </div>

        <div class="projects-feed__project-tags">
          <div class="projects-feed__project-keys-div">
            <ul class="projects-feed__project-keys-ul">
              <li class="projects-feed__project-keys-li"><a href="">Machine Learning</a></li>
              <li class="projects-feed__project-keys-li"><a href="">Cybersecurity</a></li>
            </ul>
          </div>
          <div class="projects-feed__project-read-div">
            <a href="">Read more</a>
          </div>
        </div>

      </div>


    </div>

    <div class="projects-feed__project">
      <div class="projects-feed__project-img-div">
        <img class="projects-feed__project-img" src="assets/statue-glitch_2_4x.jpg" alt="">
      </div>

      <div class="projects-feed__project-info">

        <div class="projects-feed__project-h2-div">
          <h2 class="projects-feed__project-h2">
            CyberGuard
          </h2>
        </div>

        <div class="projects-feed__project-discription-div">
          <p class="projects-feed__project-discription">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Nec commodo aliquet  cursus iaculis tempus. Vestibulum praesent donec ligula diam volutpat  ultricies ipsum! Quisque euismod sagittis primis tristique ullamcorper  bibendum felis penatibus feugiat. Placerat cras praesent mollis.
          </p>
        </div>

        <div class="projects-feed__project-tags">
          <div class="projects-feed__project-keys-div">
            <ul class="projects-feed__project-keys-ul">
              <li class="projects-feed__project-keys-li"><a href="">Machine Learning</a></li>
              <li class="projects-feed__project-keys-li"><a href="">Cybersecurity</a></li>
            </ul>
          </div>
          <div class="projects-feed__project-read-div">
            <a href="">Read more</a>
          </div>
        </div>

      </div>


    </div>

    <div class="projects-feed__project">
      <div class="projects-feed__project-img-div">
        <img class="projects-feed__project-img" src="assets/statue-glitch_2_4x.jpg" alt="">
      </div>

      <div class="projects-feed__project-info">

        <div class="projects-feed__project-h2-div">
          <h2 class="projects-feed__project-h2">
            CyberGuard
          </h2>
        </div>

        <div class="projects-feed__project-discription-div">
          <p class="projects-feed__project-discription">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Nec commodo aliquet  cursus iaculis tempus. Vestibulum praesent donec ligula diam volutpat  ultricies ipsum! Quisque euismod sagittis primis tristique ullamcorper  bibendum felis penatibus feugiat. Placerat cras praesent mollis.
          </p>
        </div>

        <div class="projects-feed__project-tags">
          <div class="projects-feed__project-keys-div">
            <ul class="projects-feed__project-keys-ul">
              <li class="projects-feed__project-keys-li"><a href="">Machine Learning</a></li>
              <li class="projects-feed__project-keys-li"><a href="">Cybersecurity</a></li>
            </ul>
          </div>
          <div class="projects-feed__project-read-div">
            <a href="">Read more</a>
          </div>
        </div>

      </div>


    </div>

    <div class="projects-feed__project">
      <div class="projects-feed__project-img-div">
        <img class="projects-feed__project-img" src="assets/statue-glitch_2_4x.jpg" alt="">
      </div>

      <div class="projects-feed__project-info">

        <div class="projects-feed__project-h2-div">
          <h2 class="projects-feed__project-h2">
            CyberGuard
          </h2>
        </div>

        <div class="projects-feed__project-discription-div">
          <p class="projects-feed__project-discription">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Nec commodo aliquet  cursus iaculis tempus. Vestibulum praesent donec ligula diam volutpat  ultricies ipsum! Quisque euismod sagittis primis tristique ullamcorper  bibendum felis penatibus feugiat. Placerat cras praesent mollis.
          </p>
        </div>

        <div class="projects-feed__project-tags">
          <div class="projects-feed__project-keys-div">
            <ul class="projects-feed__project-keys-ul">
              <li class="projects-feed__project-keys-li"><a href="">Machine Learning</a></li>
              <li class="projects-feed__project-keys-li"><a href="">Cybersecurity</a></li>
            </ul>
          </div>
          <div class="projects-feed__project-read-div">
            <a href="">Read more</a>
          </div>
        </div>

      </div>


    </div>

    <div class="projects-feed__project">
      <div class="projects-feed__project-img-div">
        <img class="projects-feed__project-img" src="assets/statue-glitch_2_4x.jpg" alt="">
      </div>

      <div class="projects-feed__project-info">

        <div class="projects-feed__project-h2-div">
          <h2 class="projects-feed__project-h2">
            CyberGuard
          </h2>
        </div>

        <div class="projects-feed__project-discription-div">
          <p class="projects-feed__project-discription">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Nec commodo aliquet  cursus iaculis tempus. Vestibulum praesent donec ligula diam volutpat  ultricies ipsum! Quisque euismod sagittis primis tristique ullamcorper  bibendum felis penatibus feugiat. Placerat cras praesent mollis.
          </p>
        </div>

        <div class="projects-feed__project-tags">
          <div class="projects-feed__project-keys-div">
            <ul class="projects-feed__project-keys-ul">
              <li class="projects-feed__project-keys-li"><a href="">Machine Learning</a></li>
              <li class="projects-feed__project-keys-li"><a href="">Cybersecurity</a></li>
            </ul>
          </div>
          <div class="projects-feed__project-read-div">
            <a href="">Read more</a>
          </div>
        </div>

      </div>


    </div>

  </div>

  <div class="projects-feed__load-more-div">
    <input class="projects-feed__load-more-input" type="submit" value="Load more">
  </div>

</section>
