<body>
  <main>
      <h1 class="following__title" id="following_page_id">Following:</h1>
      <div class="article__page">
          <!-- Проверяем, есть ли любимые проекты -->
          <div *ngIf="favorites.length > 0; else noFavorites">
              <div *ngFor="let favorite of favorites" class="article">
                  <div class="article__image">
                      <a [routerLink]="['/project-profile-page']" fragment="{{ favorite.project_id }}">
                          <img [src]="favorite.image_url" alt="{{ favorite.topic }} image">
                      </a>
                  </div>
                  <div class="article__content">
                      <div class="article__content__header">
                          <a [routerLink]="['/project-profile-page']" fragment="{{ favorite.project_id }}">
                              <h2 class="article__content__title">{{ favorite.topic }}</h2>
                          </a>
                      </div>
                      <p class="article__content__description">
                          {{ favorite.brief_description }}
                      </p>
                      <div class="article__content__footer">
                          <div class="article__content__footer__tags">
                              <span *ngFor="let keyword of favorite.keywords.split(', ')" href="#">
                                  <span class="article__content__tag">{{ keyword }}</span>
                              </span>
                          </div>
                          <div class="article__content__footer__button__div">
                              <a [routerLink]="['/project-profile-page']" fragment="{{ favorite.project_id }}" class="article__content__footer__button">READ MORE</a>
                              <a href="#" class="article__content__footer__button" (click)="removeFavorite(favorite.project_id)">UNFOLLOW</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <ng-template #noFavorites>
              <p>No favorites found.</p>
          </ng-template>
      </div>
  </main>
</body>
