<body>
    <div class="creating__project__page">
      <h2 class="creating__project__title">
        Create New Project
      </h2>
      <div class="creating__project__step">
        <img src="../../assets/icons/project-creation-3-4.svg" alt="project creation step">
      </div>
      <div class="creating__project__body">
        <div class="creating__project__body__keywords__section">
          <div class="creating__project__body__keywords__section__search">
            <img src="../../assets/icons/search.svg" alt="search icon">
            <input type="text" placeholder="Search for keywords...">
          </div>
          <div class="creating__project__body__keywords__section__keywords">
            <button>Keyword 1</button>
            <button>Keyword 2</button>
            <button>+</button>
          </div>
          <div class="creating__project__body__keywords__section__clear">
            <button>x Clear all</button>
          </div>
          <div class="creating__project__footer__submit__button">
            <button type="submit">Next step</button>
          </div>
        </div>
        <div class="creating__project__body__description__section">
          <textarea name="detailed-description" placeholder="Detailed description">
          </textarea>
        </div>
      </div>
    </div>
</body>

