<section class="projects" id="my_projects_id">
  <div class="projects__add">
    <h2 class="projects__title">My projects:</h2>
    <button class="projects__add-button" [routerLink]="['/creating-project-topic']">
      <img src="./assets/i18n/Group.png" alt="" />Add new one
    </button>
  </div>

  <!-- <section class="project">
    <div class="project__image">
      <a [routerLink]="['/project-profile-page']" fragment="project-profile_id"><img src="./assets/i18n/Rectangle.png" alt="CyberGuard Project" /></a>
    </div>
    <div class="project__info">
      <div class="project__header">
        <h3 class="project__name"><a [routerLink]="['/project-profile-page']" fragment="project-profile_id">test</a></h3>
      </div>
      <p class="project__description">
        hello world
      </p>
      <div class="project__footer">
        <div class="project__tags">
          <a class="project__tag">Machine Learning</a>
          <a class="project__tag">Cybersecurity</a>
        </div>
        <div class="project__actions">
          <a [routerLink]="['/creating-project-topic']" class="project__edit">EDIT PROJECT</a>
          <a href="#" class="project__delete">DELETE PROJECT</a>
        </div>
      </div>
    </div>
  </section> -->
</section>
