<section class="login">
  <div class="login__intro">
    <h2 class="login__welcome">Welcome back!</h2>
    <p class="login__paragraph">Meet your comrades today</p>
  </div>

  <div class="login__language-switcher">
    <p>{{'section.switchLanguage' | transloco}}</p>
  </div>

  <div class="login__form-wrapper">
    <form action="" class="login__form">

      <div class="login__fields">
        <div class="login__fields-div">
          <label for="email" class="login__label">
            E-mail or phone number
          </label>
          <input id="email" class="login__input" type="email" required placeholder="Type your e-mail or phone number">
        </div>

        <div class="login__fields-div">
          <label for="password" class="login__label">
            Password
          </label>
          <input id="password" class="login__input" type="password" required placeholder="Type your password">
          <div class="login__forgot-password">
            <a href="" class="login__forgot-password-link">Forgot Password?</a>
          </div>
        </div>
      </div>

      <div class="login__actions">
        <input class="login__submit-button" type="submit" value="Log In">
      </div>
    </form>
  </div>

  <div class="login__signup">
    <span class="login__signup-text">
      Don’t have an account?
    </span>
    <a href="" class="login__signup-link">
      Sign Up
    </a>
  </div>
</section>
