<body>
    <main>
        <h1 class="following__title">Following:</h1>
        <div class="article__page">
            <div class="article">
                <div class="article__image">
                    <a href="#">
                        <img src="../../assets/icons/cyberguard.svg" alt="article image">
                    </a>
                </div>
                <div class="article__content">
                    <div class="article__content__header">
                        <a href="#" >
                            <h2 class="article__content__title">CyberGuard</h2>
                        </a>
                        <a href="#">
                            <span class="article__content__author">Product Manager</span>
                        </a>
                    </div>
                    <p class="article__content__desciption">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste esse recusandae libero eveniet, 
                        aperiam quod impedit, facere quia numquam est omnis consequuntur animi reprehenderit odit maiores 
                        neque doloremque, modi natus explicabo. Animi aspernatur necessitatibus, dolorem, veritatis corrupti 
                        suscipit pariatur facere temporibus nisi cum fugiat, sint maxime? Accusamus explicabo expedita sequi, 
                        totam inventore aspernatur recusandae error repellat saepe, dolores iure sint aut fuga quis officiis. 
                        Repudiandae.
                    </p>
                    <div class="article__content__footer">
                        <div class="article__content__footer__tags">
                            <a href="#"><span class="article__content__tag">Machine Learning</span></a>
                            <a href="#"><span class="article__content__tag">Cybersecurity</span></a>
                        </div>
                        <a href="#" class="article__content__footer__button">READ MORE</a>
                    </div>
                </div>
            </div>
    
    
            <div class="article">
                <div class="article">
                    <div class="article__image">
                        <a href="#">
                            <img src="../../assets/icons/minecraft.svg" alt="article image">
                        </a>
                    </div>
                    <div class="article__content">
                        <div class="article__content__header">
                            <a href="#">
                                <h2 class="article__content__title">Minecraft cheats download for free</h2>
                            </a>
                            <a href="#">
                                <span class="article__content__author">Frontend Developer</span>
                            </a>
                        </div>
                        <p class="article__content__desciption">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste esse recusandae libero eveniet, 
                            aperiam quod impedit, facere quia numquam est omnis consequuntur animi reprehenderit odit maiores 
                            neque doloremque, modi natus explicabo. Animi aspernatur necessitatibus, dolorem, veritatis corrupti 
                            suscipit pariatur facere temporibus nisi cum fugiat, sint maxime? Accusamus explicabo expedita sequi, 
                            totam inventore aspernatur recusandae error repellat saepe, dolores iure sint aut fuga quis officiis. 
                            Repudiandae.
                        </p>
                        <div class="article__content__footer">
                            <div class="article__content__footer__tags">
                                <a href="#"><span class="article__content__tag">Machine Learning</span></a>
                                <a href="#"><span class="article__content__tag">Cybersecurity</span></a>
                            </div>
                            <a href="#" class="article__content__footer__button">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>


             <div class="article">
                <div class="article">
                    <div class="article__image">
                        <a href="#">
                            <img src="../../assets/icons/minecraft.svg" alt="article image">
                        </a>
                    </div>
                    <div class="article__content">
                        <div class="article__content__header">
                            <a href="">
                                <h2 class="article__content__title">Minecraft cheats download for free</h2>
                            </a>
                            <a href="#">
                                <span class="article__content__author">Frontend Developer</span>
                            </a>
                        </div>
                        <p class="article__content__desciption">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste esse recusandae libero eveniet, 
                            aperiam quod impedit, facere quia numquam est omnis consequuntur animi reprehenderit odit maiores 
                            neque doloremque, modi natus explicabo. Animi aspernatur necessitatibus, dolorem, veritatis corrupti 
                            suscipit pariatur facere temporibus nisi cum fugiat, sint maxime? Accusamus explicabo expedita sequi, 
                            totam inventore aspernatur recusandae error repellat saepe, dolores iure sint aut fuga quis officiis. 
                            Repudiandae.
                        </p>
                        <div class="article__content__footer">
                            <div class="article__content__footer__tags">
                                <a href="#"><span class="article__content__tag">Machine Learning</span></a>
                                <a href="#"><span class="article__content__tag">Cybersecurity</span></a>
                            </div>
                            <a href="#" class="article__content__footer__button">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
