<main>
    <div class="scientific-interest-part" id="scientific-interest-part_id">
        <h2>Scientific Interest:</h2>
        <div class="scientific-interest-section">
            <a href="" class="scientific-interest-section-icons interest-1">
                <span class="text-overlay">Cybersecurity</span>
            </a>
            <a href="" class="scientific-interest-section-icons interest-2">
                <span class="text-overlay">Computer Science</span>
            </a>
            <a href="" class="scientific-interest-section-icons interest-3">
                <span class="text-overlay">Software Engineering</span>
            </a>
        </div>
    </div>

</main>
