<section id="about-us_id">
    <div class="section-header">
        <div class="section-header__inner">
            <h1 class="section-header__title">
                About Us
            </h1>
        </div>
    </div>
    <div class="story">
        <div class="story__inner">
            <div class="story__photo">
                <img src="../assets/i18n/photo1.png" alt="" class="story__img">
            </div>
            <div class="story__text">
                <h2 class="story__title">
                    Our Story
                </h2>
                <p class="story__description">
                    The idea for the project emerged from the need to address the main challenges faced by modern 
                    scientists: the lack of a centralized platform for knowledge exchange and collaboration, 
                    difficulties in establishing professional contacts with colleagues from different countries, 
                    and the low visibility of scientific works. This project aims to bring researchers together on 
                    a single, intuitive platform, promoting effective interaction, finding co-authors, and increasing 
                    the visibility of their work. By doing so, the project aims to overcome the isolation of scientists, 
                    facilitate interdisciplinary collaboration, and accelerate scientific progress.
                </p>
            </div>
        </div>
    </div>
    <div class="mission">
        <div class="mission__inner">
            <div class="mission__text">
                <h2 class="mission__title">
                    Our Mission
                </h2>
                <p class="mission__description">
                    Our mission is to create an integrated and accessible space for scientists and researchers worldwide. 
                    We aim to provide a platform that facilitates knowledge exchange, fosters professional connections, 
                    and enhances the visibility of scientific achievements. Our goal is to overcome barriers to collaboration 
                    and innovation, promoting the advancement of science by uniting the efforts of researchers from various 
                    disciplines and countries.
                </p>
            </div>
            <div class="mission__photo">
                <img src="../assets/i18n/photo2.png" alt="" class="mission__img">
            </div>
        </div>
    </div>
    <div class="cta">
        <div class="cta__inner">
            <button class="cta__button" [routerLink]="['/registration-page']" fragment="welcome-logo_id">Let’s Start!</button>
        </div>
    </div>
</section>