<!DOCTYPE html>
<html>
<head>
  <title>Админ-Панель</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
  <link rel="icon"
        type="image/ico"
        href="static/image/favicon.ico">
  <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<!-- навбар -->
<nav class="navbar navbar-expand-lg fixed-top ">
  <div class="container">
    <a class="navbar-brand custom-dark" href="/">Онлайн Кинотеатр</a>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" id="nav-toggle-button"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link custom-dark" href="/">На Главную</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-dark" href="{{ url_for('list_movies') }}">Список Фильмов</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-dark" href="{{ url_for('add_movie') }}">Добавить Фильм</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-dark" id="login-btn" href="javascript:void(0);" onclick="showLoginForm()">Админ-Панель</a>        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="py-5"></div>


<div class="main">
<h1>СБРОС ВСЕХ ФИЛЬМОВ</h1>
<p>Вы уверены что хотите очистить весь кинотеатр?</p>
<form method="POST" action="{{ url_for('clear_movies') }}">
  <input type="submit" value="Да. Я хочу сбросить все фильмы.">
</form>

<form method="GET" action="{{ url_for('list_movies') }}">
  <input type="submit" value="[ОТМЕНА]">
</form>
<a href="{{ url_for('list_movies') }}">Вернуться к списку</a>
</div>

<div class="login-form-container">

  <div id="close-login-btn" class="fas fa-times" onclick="closeLoginForm()"></div>

  <form action="/protected" method="post">
    <h3>Вход в Админ-Панель</h3>
    <span>Логин:</span>
    <input type="text" name="username" class="box" placeholder="Введите логин" id="username">
    <span>Пароль:</span>
    <input type="password" name="password" class="box" placeholder="Введите пароль" id="password">
    <input type="submit" value="Login" class="btn" onclick="checkLogin()">
  </form>

</div>

<footer class="py-3 custom-blue footer">
  <div class="container" id="footer-container">
    <p>&copy; 2023 IDev. All rights reserved.</p>
  </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
<script src="{{url_for('static', filename='js.js') }}"></script>

</body>
</html>
